@import url("reset.css");

html {
  --fs-sm: clamp(0.83rem, -0.12vi + 0.86rem, 0.73rem);
  --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.19rem);
  --fs-md: clamp(1.2rem, 0.87vi + 0.98rem, 1.92rem);
  --fs-lg: clamp(1.44rem, 2.01vi + 0.94rem, 3.11rem);
  --fs-xl: clamp(1.73rem, 3.98vi + 0.73rem, 5.03rem);
  --fs-xxl: clamp(2.07rem, 7.31vi + 0.25rem, 8.14rem);
  --fs-xxxl: clamp(2.49rem, 12.87vi + -0.73rem, 13.17rem);
}

body {
  color: var(--core-2, #FAF8FA);
  background: #111011;
  font-size: var(--fs-base);
  font-family: "Cutive Mono", serif;
  text-transform: lowercase;
  line-height: 115%;
}

h1  {
  /* effect-dropshadow */
  color: var(--core-2, #FAF8FA);

  /* effect-dropshadow */
  text-shadow: 20px 2px 4px #AA98BA;
  font-family: Automata Mortal;
  font-size: var(--fs-xxxl);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  text-transform: lowercase;
  vertical-align: baseline;

}

#launch button:hover + #launch h1 {
  text-shadow: 2px 2px 4px #AA98BA;

}

#game {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #111011;
  transition: transform .75s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow .75s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow .75s cubic-bezier(0.215, 0.61, 0.355, 1),
    filter .75s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: perspective(1600px) translate3d(0, 0, 0) scale(0.01);
  will-change: transform;
}

.game-open #game {
  transform: scale(1);
  pointer-events: all;
  display: flex;
  flex-direction: row;
}

#controls {
  opacity: 0;

  position: relative;

  border-right: 1px solid rgba(250, 248, 250, 0.60);

  width: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#controls fieldset {
  width: 100%;
  position: relative;
  z-index: 100;
  background: #111011;
}

.drawerContainer {
  position:relative;
  border-top: 1px solid rgba(250, 248, 250, 0.40);
}

.game-open #controls {
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) .75s
}

.button-primary {
  display:block ;
  max-height: 50px;

  width: 100%;
  padding: 10px 0px;
  gap: 10px;
  background: none;

  font-size: var(--fs-sm);
  text-align: center;
  text-transform: lowercase;

  /* border-radius: 50px;*/
  border: 1px solid rgba(250, 248, 250, 0.40);

  /* effect-dropshadow */
  box-shadow: 0px 0px 2px 2px #AA98BA, inset #AA98BA 0px 0px 0px 0px; 

  color: #FAF8FA;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: all .25s ease-out;
}

.button-secondary {
  display:block ;
  max-height: 50px;

  width: 100%;
  padding: 10px 0px;


  font-size: var(--fs-sm);
  text-align: center;
  text-transform: lowercase;

  background: #111011;

  /* border-radius: 50px;*/
  border: 1px solid rgba(250, 248, 250, 0.40);

  color: #FAF8FA;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  transition: all .25s ease-out;
}

.button-secondary:hover {
  background-color: rgba(250, 248, 250, 0.10);
  cursor: pointer;
}

.button-primary:hover {
  border-color: var(--core-2);
  box-shadow: 0px 0px 0px 0px #AA98BA,inset #AA98BA 0px 0px 1px 1px; 
  cursor:pointer;
}

#controls fieldset > .button-secondary {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;

  height: 5vw;
  padding: 0 5px;
  max-height:none;
}

#controls fieldset:last-child .button-secondary {
  border-bottom: none;
}

li {
  margin-top:25px;
}

#wrapper {
  padding-top: 2vh;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(10, 9.6vh);
  justify-content: start;
  width: 100%;
  max-width: 98vw;
  margin: 0 auto;
  position: relative;
}

.game-open #wrapper {
  pointer-events: none;
}


#title {
  grid-column: 1 / 8;
  grid-row: 2 / 10;
}


#launch {
  display:flex;
  flex-flow: row wrap;
  align-content: flex-end;

  grid-column: 10 / 12;
  grid-row: 8 / 10;

}

#info {
  grid-column: 10 / 12;
  grid-row: 2 / 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
}

#info p {
  font-size: var(--fs-base);
  line-height: 120%;
}

#info ul {
  font-size: var(--fs-sm);
}

.drawer {
  position: absolute;
  left: 110%;
  top: 0px;
  bottom: 0px;
  border: 1px solid rgba(250, 248, 250, 0.60);
  padding: 10px;
  opacity: 0;
  transition: all .18s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.drawer.open {
  opacity: 1;
  z-index: 0;
  pointer-events: all;
}

.drawer .button-secondary {
  height: auto !important;
  padding: 10px 5px;
  border: 1px solid rgba(250, 248, 250, 0.60);
  float:right;
  cursor: pointer;
}

.drawerTitle {
  display: block;
  text-align: center;
  padding-bottom:20px;
  font-size: var(--fs-base);
}

.closer {
  opacity: 0;
  width: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
}

.game-open .closer {
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) .75s
}

.switchWrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: var(--fs-sm);
}

.switchWrapper:not(:last-child) {
  border-right: 1px solid rgba(250, 248, 250, 0.40);
}

.switchLabel {
  display: block;
  padding-bottom:10px;
  border-bottom: 1px solid rgba(250, 248, 250, 0.40);
  width: 100%;
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 21px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BEB0CA;
  -webkit-transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: #FAF8FA;
  -webkit-transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

input:checked + .slider {
  background-color: #6D5782;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6D5782;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.switchContainer {
  display: flex;
  width: max-content;
  flex-wrap: wrap;
}

.switchInner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding:15px;
}